<!DOCTYPE html>
<html lang="en">
	<head>
		<!-- https://discourse.gohugo.io/t/compare-site-baseurl-with-a-string/2919/2 -->
		<title>{{ with .Title }}{{ $title := printf "%s" $.Title }}{{ if not (eq $title $.Site.Title)}}{{$title}} · {{ end }}{{ end }}{{ .Site.Title }}</title>
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="stylesheet" href="/css/styles.css">
		<link rel="stylesheet" href="/css/tachyons.min.css">
	</head>
	<body class="bg-beige mt5-l mt3">
		<header class="ph3 mb3 tc">
			<nav class="tc mw9 center">
				{{ $section := .Section }}
				<a href="/" class="{{if eq $section ""}} active {{ end }} black dib link mt0 mb1 small-caps" title="Home">Home</a>
			</nav>
		</header>
