@font-face {
	font-family: 'Libre Baskerville';
	font-style: normal;
	font-weight: 400;
	src: url('LibreBaskerville-Regular.ttf');
}
@font-face {
	font-family: 'Libre Baskerville';
	font-style: italic;
	font-weight: 400;
	src: url('LibreBaskerville-Italic.ttf');
}
@font-face {
	font-family: 'Libre Baskerville';
	font-style: normal;
	font-weight: 700;
	src: url('LibreBaskerville-Bold.ttf');
}
* {
	font-family: 'Libre Baskerville', 'Baskerville', 'Times', serif
}
.bg-beige {
	background-color: #fcfaf5;
}
h1
{
	font-variant: small-caps;
	font-weight: normal;
}
h1:hover {
	text-shadow: .075em .075em #edc3c3;
}
li {
	list-style-type: none;
	position: relative;
}
li::before {
	content: "\25CF";
	font-size: 0.3em;
	left: -1.5rem;
	position: absolute;
	top: 1.7em;
}
::-moz-selection {
	background-color: #edc3c3;
}
::selection {
	background-color: #edc3c3; 
}
