{{ partial "header.html" . }}

<div class="lh-title main mh3-l ph3">
	<h1 class="f2-ns f3 i small-caps tc">{{ .Title }}</h1>
	<hr class="mw2">
	<div class="center f4-ns f5 fw5 lh-copy mw7-ns tc">
		{{ .Content }}
		{{ range .Pages }}
			<p><a class="black link" href="{{ .URL }}">{{ .Title }}</a></p>
		{{ end }}
	</div>
</div>

{{ partial "footer.html" . }}
