{{ partial "header.html" . }}

<div class="lh-title main mh3-l ph3">
	<h1 class="f2-ns f3 fw1 i small-caps tc">{{ .Title }}</h1>
	<h2 class="f5-ns f6 fw4 pb3 small-caps tc">{{ .Date.Format "Monday, January 2, 2006" }}</h2>
	<hr class="mw2">
	<div class="center f5-ns f6 lh-copy mw7-ns">
		{{ .Content }}
	</div>
</div>

{{ partial "footer.html" . }}
