{{ partial "header.html" . }}

<div class="lh-title main mh3-l ph3">
	<h1 class="f2-ns f3 fw1 i small-caps tc">{{ .Title }}</h1>
	<hr class="mw2">
	<div class="f4-ns f5 fw5 lh-copy mh7-l tc">
		{{ .Content }}
		{{ range .Site.Sections }}
			<p><a class="black link" href="{{ .Permalink }}">{{ .Title }}</a></p>
		{{ end }}
	</div>
</div>

{{ partial "footer.html" . }}

